

<h1>Liste des franchises</h1>
<li><%= link_to "Créer une nouvelle franchise", admin_franchises_new_path %></li>
<table class="table table-bordered">
  <thead>
    <tr>
      <th >Nom du Franchise</th>
      <th >Nombre de magasin</th>
      <th >Nouveau magasin</th>
    </tr>
  </thead>
  <tbody>
    <% @franchises.each do |f| %>
      <tr>
        <td><%= f.nom_entreprise %></td>
        <td><%= f.magasin.count %></td>
        <td> <%= link_to "Nouveau magasin", new_admin_franchise_magasin_path(f) %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
